<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <main>
    <div class="div_login">
      <div class="login">
        <h1>Login</h1>
        <input type="text" placeholder="E-mail" class="caixa_email">
        <br><br>
        <input type="password" placeholder="Senha" class="caixa_senha">
        <br><br>
        <div class="btn_login">
        <button>Entrar</button>
        <button><a href="/cadastro">Cadastre-se</a></button>
      </div>
    </div>
    </div>
  </main>

  <footer>

  </footer>

</body>
</html>
