<div class="container-adicionar-veiculo">
  <input class="input-quantidade-veiculo" type="text" placeholder="Tipo">
  <input class="input-quantidade-veiculo" type="text" placeholder="Modelo">
  <input class="input-quantidade-veiculo" type="text" placeholder="Ano">
  <input class="input-quantidade-veiculo" type="text" placeholder="Placa">
  <br>
  <div class="container-btn">
    <button class="btn-adicionar-veiculo">Adicionar veículo</button>
    <a href="/home"><button class="btn-cancelar" >Cancelar</button></a>
  </div>
</div>
