<header class="cabecalho">
  <img class="cabecalho-img" src="png-transparent-sports-car-silhouette-car-compact-car-monochrome-car.png" alt="teste">
  <nav class="cabecalho-menu">
    <a class="cabecalho-menu-iten" href="">Início</a>
    <a class="cabecalho-menu-iten" href="">Configurações</a>
  </nav>
</header>
<div class="container-conteudo">
  <div class="conteudo-detalhes-veiculo">
    <p class="texto-detalhes-veiculo">Tipo: Carro </p>
    <p class="texto-detalhes-veiculo">Modelo: Porshe 911 </p>
    <p class="texto-detalhes-veiculo">Ano: 2022 </p>
    <p class="texto-detalhes-veiculo">Placa: LPJ-8365</p>
    <br>
    <p class="texto-detalhes-veiculo">Gasto do veículo: $23,500 </p>
  </div>
  <br>
  <div class="container-btn">
    <a href="/adicionar-gasto"><button class="btn-adicionar-gastos">Adicionar Gastos</button></a>
    <button class="btn-editar-veiculo">Editar Veículo</button>
    <button class="btn-excluir">Excluir</button>
  </div>
</div>
