<body>
  <header class="cabecalho">
    <img class="cabecalho-img" src="png-transparent-sports-car-silhouette-car-compact-car-monochrome-car.png" alt="teste">
    <nav class="cabecalho-menu">
      <a class="cabecalho-menu-iten" href="">Início</a>
      <a class="cabecalho-menu-iten" href="">Gastos</a>
      <a class="cabecalho-menu-iten" href="">Configurações</a>
    </nav>
  </header>

  <main class="container-conteudo">

    <div class="conteudo">
      <p class="titulo-carros">Seu(s) Veículo(s):</p>
      <br>
      <div class="card-carros">
        <img src="" alt="">
        <span>Nome Veículo</span>
      </div>
    </div>
    <br>
    <div class="container-btn">
      <button class="btn-adicionar-carro">Adicionar Carro</button>
    </div>


  </main>

</body>
