*{
  margin: 0;
  padding: 0;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-img{
height: 72px;
}

.cabecalho-menu{
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.cabecalho-menu-iten{
  color: #fcfcfc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}

a:hover{
  background-color: #84BF6F;
    cursor: pointer;
}

.container-conteudo{
  border-top: 0.4px solid #fcfcfc;
}

.conteudo{
  margin-top: 30px;
  margin-left: 5px;
}

.titulo-carros{
  color: #7E848D;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

.btn-adicionar-carro{
  background-color: #84BF6F;
  border: none;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-bottom: 30px;

}

button:hover{
  background-color: rgb(71, 209, 16);
  cursor: pointer;
}

.btn-ver-detalhes{
  background-color: #55AF1E;
  border: none;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 10px;

}

.card-carros{
  background-color: #fcfcfc;
  padding: 15px;
  margin-left: 50px;
  margin-right: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  font-family: 'Courier New', Courier, monospace;
}

